<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bdtx.mod_main">


    <application>
        <activity
            android:name=".Activity.ConnectBluetoothActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.MessageActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.ChatActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.StateActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HealthyActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.SOSActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.VoiceAuthActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>
        <activity
            android:name=".Activity.CompressionRateActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.PlatformSettingActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.SwiftMessageActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.AboutUsActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.EmergencyActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.BodyStatusActivity"
            android:exported="false"/>
        <activity
            android:name=".Activity.CommunicationLinkActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="03ecfdcd966fa5c5c8a6391dcb967d26" /> <!-- 高德官方离线地图页面 -->
        <activity
            android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>